extends ../layout

block content
  if(message) 
    p= message
  h1 Log in!
  form.form-group(action="/auth/login" method="POST")
    p
      input(type="text" name="user[username]" placeholder="Enter Email" autofocus)
    p
      input(type="password" name="user[password]" placeholder="Enter Password")
    p
      input.btn.btn-default(type="submit" value="Log In")
