<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  block styles
  link(rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css") 
  //- link(rel="stylesheet" href="style.css")
  title Photo App
body
    nav.navbar.navbar-inverse.container-fluid
      .navbar-header
      a.navbar-brand(href="/")
          i.glyphicon.glyphicon-heart-empty
        ul.nav.navbar-nav
          li
            a(href="/users") User Home
          li
            a(href="/users/new") New User
          li
            a(href="/auth/logout") Logout     
        form.navbar-form.navbar-right(role="search")
          .form-group
            input.form-control(type="text", placeholder="Search")
            input.btn.btn-default(type="submit")
  .container
  block content
