extends ../layout

block content
  h1 New User
  form(action="/users" method="POST")
    p
      input(type="text" name="user[username]")
    p
      input(type="password" name="user[password]")
    p
      input(type="submit" value="Submit")